NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
PET_LOG_BACKEND_API_BASE_URL=http://127.0.0.1:27893
PET_LOG_BACKEND_PET_ID=pet_01JCM7V8H9Q2K4N6R8T0A1B2C3
PET_LOG_BACKEND_TIMEOUT_MS=60000
PET_LOG_AI_TIMEOUT_MS=180000
